html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
html, body, *{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
	line-height: 1.6;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    font-weight: 400;
    letter-spacing: 0.03em;
	width: 100%;
	background-color: #e8e8e8;
	display: grid;
	grid:
	  "header" auto
	  "main" 1fr
	  "footer" auto
	  / 1fr;
	gap: 8px;
}

p {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1rem;
}

small {
    font-size:  clamp(0.8rem, 1vw, 1rem);
    line-height: 1.1;
}

h1,h2,h3,h4,h5, summary {
    font-family: "Passion One", serif;
    font-weight: 700;
    font-style: normal;
	letter-spacing: 1.25px;
}
  
header { 
	grid-area: header; 
	width: 100%;
	padding-top: clamp(2rem, 4vh, 2rem);
	padding-bottom: clamp(2rem, 4vh, 2rem);
	padding-left: clamp(1rem, 2vw, 2rem);
    padding-right: clamp(1rem, 2vw, 2rem);
	margin: 0;
	background-image: url("https://rep98.github.io/venezuela/assets/flags/bandera_de_venezuela.jpg");
	min-height: 100vh;
    background-color: #1A1A1A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
	z-index: 1024;
	flex-direction: column;
}
header .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,40%);
}
header h1{
	font-size: clamp(2.441rem, 6vw, 7.451rem);
	margin: auto;
    text-wrap-mode: wrap;
    text-align: center;
    width: 100%;
	color: #F4F4F4;
    text-shadow: 2px 2px 5px #2d2d2d;
	z-index: 3;
}
main { 
	grid-area: main; 
	margin-left: auto;
    margin-right: auto;
    max-width: calc(87.5rem - 4rem);
    width: 100%;
	padding-top: clamp(1.5rem, 3vh, 1.5rem);
	padding-bottom: clamp(1.5rem, 3vh, 1.5rem);
    padding-left: clamp(1rem, 2vw, 2rem);
    padding-right: clamp(1rem, 2vw, 2rem);
    position: relative;
	min-height: 50vh;
}

h2{
	font-size: clamp(1.953rem, 4.8vw, 5.960rem);
}

h3 {
	font-size: clamp(1.563rem, 3.84vw, 4.768rem);
}

h4 {
	font-size: clamp(1.250rem, 3.072vw, 3.815rem);
}
h5 {
	font-size: clamp(1.125rem, 2.458vw, 3.052rem);
}
main article:not(:last-child) {
	margin-bottom: 0.45rem;
}
main article details{
	border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px 6px #ddd;
}
main article details details{
	box-shadow: none !important;
}
main article details .content {
	padding: clamp(0.64rem, 2vw, 1rem);
	background-size: 4em;
    background-repeat: no-repeat;
    background-position: 97% 0.7rem;
    background-color: #F5F5F5;
}
main article details summary {
	cursor: pointer;
    border-bottom: 1px dashed #9d9d9d;
    padding: 0.64rem 0.35rem;
}
.content ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
.content ul li{
	flex: 0 0 auto;
	padding: 0.25rem 0.4rem;
}

.content ul li:not(:last-child)::after{
	content: ", ";
}

.content ul li:last-child {
	border-bottom: none !important;
}

.content ol {
	list-style: decimal-leading-zero;
    padding-left: 2rem;
}

summary h2,
summary h3,
summary h4
{
	display: inline;
	margin: 0;
}
.yellow {
	color: #1A1A1A;
	background-color: #FFCC00;
}
.blue {
	color: #FAFAFA;
	background-color: #00247D;
}
.red {
	color: #FAFAFA;
	background-color: #CF142B;
}
.divisor {
	height: 0.65rem;
	width: 100%;
	margin-top: 0.64rem;
}
footer { 
	grid-area: footer; 
	text-align: center;
	font-size: 0.64rem;
	line-height: 1.5;
	background-color: #1A1A1A;
	color: #FAFAFA;
}
footer > div {
	padding-top: clamp(0.64rem, 1.5vh, 1rem);
    padding-bottom: clamp(0.64rem, 1.5vh, 1rem);
}
footer a {
	color: #FAFAFA;
}
#banners {
	display: flex;
	align-items: center;
	margin-top: -1rem;
	justify-content: space-between;
}
#banners div {
	font-size: clamp(0.7rem, 1vw, 1rem);
    text-align: end;

    color: #1a1a1a;
	font-family: "Passion One", serif;
    font-weight: 700;
	cursor: pointer;
}

#banners a {
	text-decoration: none;
	color: #1a1a1a;
}
#top-scroll {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: clamp(32px, 4rem, 64px);
    height: clamp(32px, 4rem, 64px);
    background-color: #1a1a1a;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
	transition: transform 0.2s ease-in-out;
	box-shadow: 3px 2px 10px 3px rgba(0, 0, 0, 0.6);
}

#top-scroll:hover{
	transform: scale(1.12);
}


#top-scroll svg.circles {
    transform: rotate(-90deg); /* Rotar el SVG para que el progreso comience desde arriba */
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#top-scroll svg.bi{
	transform: none !important;
    fill: #FFCC00;
    width: 70%;
    height: 100%;
    position: absolute;
}
#progress-ring {
    stroke-dasharray: 283; /* Circunferencia del círculo */
    stroke-dashoffset: 283; /* Comienza completamente oculto */
    transition: stroke-dashoffset 0.2s ease; /* Transición suave */
}


#up {
	cursor: pointer;
    transition: all 0.2s ease-in-out;
	animation: bounce 1s ease-in-out infinite;
}

#up svg {
	width: 4rem;
    height: 4rem;
    margin-bottom: 0rem;
    fill: #FAFAFA;
}
  
#toggle-theme {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0.35rem;
    background: transparent;
    color: #1A1A1A;
    border: 2px solid #1A1A1A;
	cursor: pointer;
	outline: none;
	transition: all 0.35s ease-in-out;
	margin-bottom: 6px;
}

#toggle-theme svg.bi-moon-stars-fill {
	color: #161616;
	fill: #161616;
}

#toggle-theme svg.bi-sun-fill {
	color: #FFCC00;
	fill: #FFCC00;
}
#toggle-theme:hover svg.bi-moon-stars-fill {
	fill: #FFCC00;
}
body,
#banners a,
details,
.content,
#toggle-theme svg
{
	transition: background-color, border-color, box-shadow, color, fill 0.05s ease-in;
}

body #toggle-theme:hover {
	background-color: #1A1A1A;
}
body.dark #toggle-theme:hover {
	background-color: #FFCC00;
	color: #1A1A1A
}
body.dark #toggle-theme:hover svg{
	fill: #1A1A1A;
}
body #toggle-theme svg.bi-moon-stars-fill{
	display: block;
}
body #toggle-theme svg.bi-sun-fill{
	display: none;
}
body.dark #toggle-theme svg.bi-moon-stars-fill {
	display: none !important;
}
body.dark #toggle-theme svg.bi-sun-fill {
	display: block !important;
}
  @keyframes bounce {
	0%, 100% { transform: translateY(0); }
	50% { transform: translateY(-10px); }
  }
  
 @media (prefers-color-scheme: dark) {
	body:not(.light){
		background-color: #2d2d2d;
		color: #F8F8F8;
	}
	body:not(.light) #banners a {
		color: #F8F8F8;
	}
	body:not(.light) main article details {
		border-color: #1a1a1a;
		box-shadow: 2px 2px 10px 6px #161616;
	}
	body:not(.light) main article details .content{
		background-color: #3b3c41;
	}
	body:not(.light) #toggle-theme svg.bi-moon-stars-fill {
		display: none !important;
	}
	body:not(.light) #toggle-theme svg.bi-sun-fill {
		display: block !important;
	}
	body:not(.light) #toggle-theme:hover {
		background-color: #FFCC00;
		color: #1A1A1A;
	}
	body:not(.light) #toggle-theme:hover svg{
		fill: #1A1A1A;
	}
 }
 
body.dark{
	background-color: #2d2d2d;
	color: #F8F8F8;
}
body.dark  #banners a {
	color: #F8F8F8;
}
body.dark  main article details {
	border-color: #1a1a1a;
	box-shadow: 2px 2px 10px 6px #161616;
}
body.dark  main article details .content{
	background-color: #3b3c41;
}

